<div class="col-md-12">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value); loginForm.reset()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username" required ngModel>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required ngModel>
    </div>
    <button type="submit" class="btn btn-outline-secondary" [disabled]="!loginForm.valid">Sign In</button>
  </form>
</div>
