<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-lg-up"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
      <a class="navbar-brand mb-0" routerLink="/">Fitness Diary</a>
      <ul class="nav navbar-nav float-lg-right">
        <li class="nav-item"><a class="btn btn-outline-secondary">Sign up</a></li>
        <li class="nav-item"><a class="btn btn-outline-secondary">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>
