<form class="form-inline"
      (ngSubmit)="add(newExerciseSetForm.value); newExerciseSetForm.reset()"
      #newExerciseSetForm="ngForm">
  <label class="sr-only" for="weight">Weight</label>
  <input type="number"
         min="0"
         step="any"
         class="form-control"
         id="weight"
         placeholder="Weight"
         name="weight"
         required
         ngModel>
  <label class="sr-only" for="reps">Reps</label>
  <span>kgs</span>
  <input type="number"
         min="1"
         step="1"
         pattern="\d+"
         class="form-control"
         id="reps"
         placeholder="Reps"
         name="reps"
         required
         ngModel>
  <span>qt</span>
  <label for="warmUp">
    <input type="checkbox"
           class="form-control"
           id="warmUp"
           placeholder="Warm Up"
           name="warmUp"
           ngModel>
    Warm Up
  </label>
  <button type="submit" class="btn btn-outline-secondary" [disabled]="!newExerciseSetForm.valid">Add</button>
</form>
