<div class="col-md-12">
  <form class="form-inline" (ngSubmit)="add(newDiaryForm.value.title); newDiaryForm.reset()" #newDiaryForm="ngForm">
    <label class="sr-only" for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           placeholder="Title"
           name="title"
           required
           minlength="3"
           ngModel>
    <button type="submit" class="btn btn-outline-secondary" [disabled]="!newDiaryForm.valid">Add</button>
  </form>
</div>
